# Systemd unit file for apache-tomcat
#

[Unit]
Description=Apache Tomcat Web Application Container
After=network.target

[Service]
Type=forking
#PIDFile=/var/run/tomcat/tomcat.pid
ExecStart=/opt/tomcat/apache-tomcat-7.0.70/bin/startup.sh
ExecStop=/opt/tomcat/apache-tomcat-7.0.70/bin/shutdown.sh
SuccessExitStatus=0
User=tomcat
Group=tomcat

# Where your java installation lives
Environment=JAVA_HOME=/opt/java/current_version

# Where your tomcat installation lives
Environment=CATALINA_BASE=/opt/tomcat/apache-tomcat-7.0.70
Environment=CATALINA_HOME=/opt/tomcat/apache-tomcat-7.0.70
Environment=CATALINA_OUT=/opt/tomcat/apache-tomcat-7.0.70/logs/catalina.out
Environment=CATALINA_OPTS=-Xms2G -Xmx4G

# What user should run tomcat
TOMCAT_USER="tomcat"
# Time to wait in seconds, before killing process
SHUTDOWN_WAIT="20"
# Set the TOMCAT_PID location
#CATALINA_PID="/var/run/tomcat/atomcat.pid"

[Install]
WantedBy=multi-user.target
